<!-- ########  Presidential VOTE COUNT ###### -->
	<!-- Header -->
		<div class="row">
			<h1 class="text-center">Presidential</h1>
		</div>



		<!-- Presidential Table -->
	
		<div class="row">
			<div class="table-responsive">
				<table class="table table-striped table-hover">
		  			<tr>
		  				<th>Candidate</th>
		  				<th>Party</th>
		  				<th>Total Votes </th>
		  				<th>Percentage </th>
		  			</tr>

		  	<% pretotal = Electoraldatum.joins(:voteresults).where('typeofelection = "PRE"').group(:candidate, :party).sum(:votes) %>
		  	<% m = 0.0 %>

		  	<% pretotal.each do |smsvotes| %>
		  		<% m += smsvotes[1] %>
		  	<% end %>

		  	<% pretotal.each do |smsvotes| %>

		  			<tr>
		  				<td><%= smsvotes[0][0] %></td>
		  				<td><%=smsvotes[0][1] %></td>
		  				<td><%=smsvotes[1] %></td>
		  				<td><%= (smsvotes[1].to_f/m.to_f * 100).round(1) %> %</td>
		  			</tr>

		  		<% end %>
					<td></td>
					<td></td>
					<td><strong><%= m.to_i %></strong></td>
					<td><strong><%= "100 %" %></strong></td>
				</table>
			</div>
		</div>