<% @PageTitle = "Constituency Results" %>

<div class="container-fluid">
	<div class="row-fluid">
		<%= render('layouts/menu') %>

		<% receivedps = Electoraldatum.joins(:voteresults).select('distinct pscode').count %>
		<% totalps = Electoraldatum.select('distinct edpscode').count %>

		<div class="col-lg-10"><h1 align="center">Results per Constituency <span class="badge"><%= "#{receivedps} out of #{totalps} polling stations" %></span><h1> </div>
		<div class="col-lg-2" style="margin-top: 15px"> 

			<!-- Large button group -->
			<%= render('layouts/resultsmenu') %>
		</div>
	</div>


	<div class="row-fluid">
		<div class="col-lg-6">
			<%= render(:partial => "pmtvotecountconst") %>
		</div>

		<div class="col-lg-6">
			<%= render(:partial => "prevotecountconst") %>
		</div>
		
	</div>
</div>